/.terraform/
/.terraform.lock.hcl
**/.terraform/
**/.terraform.lock.hcl
/bin/
/dist/
/private/
/test-results/
/tools/provider-bin/
/tools/provider-mirror/
/tools/opentofu/
/tools/terraform/
/tools/bin/
/terraform-provider-motherduck
.DS_Store
**/.DS_Store
*.tfstate
*.tfstate.*
.env
.env.*
!.env.example
